.list-container {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.list-item {
  width: 400px;
  cursor: pointer;
  font-family: gothic;
  color: white;
}

.list-header {
  display: flex;
  align-items: center;
  gap: 25px;
}

.list-number {
  font-size: 56px;
}

.list-title {
  font-size: 36px;
}

.list-item.selected p {
  margin-top: 5px;
  margin-left: 68px;
  display: block;
  font-family: gothic;
  font-size: 18px;
}

.tracker {
  height: 50%;
  border-radius: 10px;
  background-color: black;
}

.tracker-bar {
  border-radius: 10px;
  position: relative;
  height: 33%;
  width: 5px;
  background-color: #b3e44d;
}

.divider {
  background-color: #b3e44d;
  width: 400px;
  height: 2px;
  margin: 15px 0;
}

.list{
  height: 100%;
  display: flex;
  gap: 50px;
  align-items: center;
}

@media (max-width: 567px) {
  .tracker{
    height: 220px;
  }

  .list{
    gap: 30px;
  }

  .list-number {
    font-size: 48px;
  }
  
  .list-title {
    font-size: 34px;
  }

  .list-header {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .list-item.selected p {
    margin-left: 53px;
  }

  .list-container {
    width: 335px;
    display: flex;
    flex-direction: column;
  }
  
  .list-item {
    width: 335px;
  }

  .divider {
    width: 335px;
  }

  @media (min-height: 740px) {
    .list-item.selected p {
      margin-top: 5px;
      margin-left: 68px;
      font-size: 20px;
    }

    .list-item.selected p {
      margin-left: 52px;
    }

    @media (min-height: 770px) {
      .list-item.selected p {
        line-height: 1.2;
      }
    } 
  }

  @media (min-width: 450px){
    .list{
      gap: clamp(50px, 11vw, 65px);
    }
  }

  @media (min-width: 500px){
    .list-container {
      width: 365px;
    }
    
    .list-item {
      width: 365px;
    }

    .divider{
      width: 365px;
    }
  }

  @media (min-width:360px) and (max-width: 398px) {
    .list-item.selected p {
      margin-top: 5px;
      margin-left: 52px;
      font-size: 16px;
    }

    .list-container{
      width: 305px;
    }

    .list-item {
      width: 305px;
    }

    .divider{
      width: 305px;
    }

    .list{
      gap: clamp(20px,8vw,30px);
    }

    @media (max-width:364px) {
      .list{
        gap: 20px;
      }
    }

    @media (min-height: 700px) {
      .list-item.selected p {
        line-height: 1.2;
      }

      @media (min-height: 840px) {
        .list-item.selected p {
          line-height: 1.3;
        }
  
        .list-item.selected p {
          margin-top: 5px;
          margin-left: 52px;
          font-size: 18px;
        }
      }
    }  
  }

  @media (max-width: 359px) {
    
    .list-item.selected p {
      margin-top: 5px;
      margin-left: 44px;
      font-size: 16px;
    }

    .list-container{
      width: 260px;
    }

    .list-item {
      width: 260px;
    }

    .divider{
      width: 260px;
    }

    .list-number {
      font-size: 38px;
    }
    
    .list-title {
      font-size: 29px;
    }

    .list{
      gap: 20px;
    }

    @media (min-height: 850px) {
      .list-item.selected p {
        margin-top: 5px;
        margin-left: 44px;
        font-size: 18px;
        line-height: 1.25;
      }
    }

    @media (min-width: 340px) {
      .list-item.selected p {
        margin-top: 5px;
        margin-left: 44px;
        font-size: 17px;
      }

      .list-container{
        width: 275px;
      }
  
      .list-item {
        width: 275px;
      }
  
      .divider{
        width: 275px;
      }

      .list{
        gap: 25px;
      }

      @media (min-height: 850px) {
        .list-item.selected p {
          margin-top: 5px;
          margin-left: 44px;
          font-size: 18px;
          line-height: 1.25;
        }
      }
    }
  } 
}